/* CSS Document */
/*	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain) */
/*	Paul Irish's Padding Fix
	http://paulirish.com/2012/box-sizing-border-box-ftw */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

header {
  background-color: #14384C;
  margin-bottom: 40px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!
 * Modulifier || Code released under the UNLICENSE
 * Code under other copyrights & licenses listed below.
 * http://thomasjbradley.github.io/modulifier/#responsive;images;media-object;accessibility;print
 */
@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  border: 0;
}

.img-flex {
  display: block;
  width: 100%;
}


/*
  Gridifier || Code released under the UNLICENSE
  http://gridifier.web-dev.tools/#xs,1,0,0,0;s,1,25,0,0;m,4,33.125,0,0;l,4,44.6875,0,0
*/
.grid {
  margin: 0;
  padding: 0;
  /* letter-spacing: -0.31em; */
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
}

.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.grid-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.grid-stretch {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em;
}

.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
}

.grid-bottom .unit {
  vertical-align: bottom;
}

.grid-middle .unit {
  vertical-align: middle;
}

[class*="unit-push-"],
[class*="unit-pull-"] {
  position: relative;
}

.unit-xs-hidden {
  display: none;
  visibility: hidden;
}

.unit-xs-centered {
  margin: 0 auto;
}

.unit-xs-1, .xs-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.unit-xs-1-2, .xs-1-2 {
  width: 50.0000%;
}

.unit-xs-1-3, .xs-1-3 {
  width: 33.3333%;
}

.unit-xs-2-3, .xs-2-3 {
  width: 66.6667%;
}

.unit-xs-1-2, .xs-1-2, .unit-xs-1-3, .xs-1-3, .unit-xs-2-3, .xs-2-3 {
  display: inline-block;
  visibility: visible;
}

@media only screen and (min-width: 25em) {
  .unit-s-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-s-centered {
    margin: 0 auto;
  }
  .unit-s-1, .s-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-s-1-2, .s-1-2 {
    width: 50.0000%;
  }
  .unit-s-1-3, .s-1-3 {
    width: 33.3333%;
  }
  .unit-s-2-3, .s-2-3 {
    width: 66.6667%;
  }
  .unit-s-1-2, .s-1-2, .unit-s-1-3, .s-1-3, .unit-s-2-3, .s-2-3 {
    display: inline-block;
    visibility: visible;
  }
}

@media only screen and (min-width: 33.125em) { /*530*/
  .unit-m-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-m-centered {
    margin: 0 auto;
  }
  .unit-m-1, .m-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-m-1-2, .m-1-2 {
    width: 50.0000%;
  }
  .m-1-2s {
    width: 48.5%;
  }
  .unit-m-1-3, .m-1-3 {
    width: 33.3333%;
  }
  .unit-m-2-3, .m-2-3 {
    width: 66.6667%;
  }
  .unit-m-1-4, .m-1-4 {
    width: 25.0000%;
  }
  .unit-m-3-4, .m-3-4 {
    width: 75.0000%;
  }
  .unit-m-1-2, .m-1-2, .m-1-2s, .unit-m-1-3, .m-1-3, .unit-m-2-3, .m-2-3, .unit-m-1-4, .m-1-4, .unit-m-3-4, .m-3-4 {
    display: inline-block;
    visibility: visible;
  }


  .nav {
    text-align: right;
  }
  .nav li {
    font-size: 15px;
  }

  .footer {
    font-size: 14px;
  }
  .footer p {
    line-height: 20px;
  }
  .footer ul {
    text-align: left;
  }
  .footer .quote p {
    text-align: left;
  }
  .footer .copyright {
    float: right;
    margin-top: 30px;
  }
  .footer .copyright p {
    text-align: right;
  }
}

@media only screen and (min-width: 60em) { /*768*/
  .unit-l-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-l-centered {
    margin: 0 auto;
  }
  .unit-l-1, .l-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-l-1-2, .l-1-2 {
    width: 50.0000%;
  }
  .l-1-2s {
    width: 48.5%;
  }
  .unit-l-1-3, .l-1-3 {
    width: 33.3333%;
  }
  .unit-l-2-3, .l-2-3 {
    width: 66.6667%;
  }
  .unit-l-1-4, .l-1-4 {
    width: 25.0000%;
  }
  .unit-l-3-4, .l-3-4 {
    width: 75.0000%;
  }
  .unit-l-1-2, .l-1-2, .l-1-2s, .unit-l-1-3, .l-1-3, .unit-l-2-3, .l-2-3, .unit-l-1-4, .l-1-4, .unit-l-3-4, .l-3-4 {
    display: inline-block;
    visibility: visible;
  }

  .header {
    width: 75%;
    margin: 10px auto 40px;
  }
  wrapper .centered {
    width: 75%;
    margin: 0 auto;
  }
}

.unit-content-distribute {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.content-fill {
  -ms-flex-grow: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  max-width: 100%;
  /* @bugfix: IE 10, 11 */
}

.content-shrink {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

@media only screen and (min-width: 62.5em) { /*1000*/
  .xl-1-2s {
    width: 49%;
  }
}

a {
  text-decoration: none;
}

.hypertext {
  color: #FFD19A;
  border-bottom: 1px solid #FFD19A;
}

.logo {
  max-width: 200px;
  margin: 30px auto;
}

.nav {
  display: block;
  margin: 0px auto 30px;
  text-align: center;
  font-weight: 400;
}

.header h2 {
  font-size: 15px;
  /* font-family: 'Crete Round', serif; */
  font-family: 'Roboto Mono', monospace;
  /* font-family: 'Bitter', serif; */
  margin: 40px auto 70px;
  width: 80%;
  line-height: 20px;
  color: #FFD19A;
  font-weight: 400;
  text-align: left;
}


.section h2{
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  margin: 10px 0;
  line-height: 20px;
  color: #000;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #000;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  text-transform: lowercase;
  font-size: 15px;
}

.nav a {
  text-decoration: none;
  font-family: 'Roboto mono', sans-serif;
  color: #fff;
  font-weight: 400;
  margin: 7px 2px;
  padding: 5px 7px;
}

.nav a:visited {
  color: #Fff;
}

.nav a:hover,
.nav a:active {
  color: #fff;
  background-color: #35546A;
}

.lines {
  height: 2px;
  border: 2px;
  width: 100%;
  margin: 0 auto 0;
  color: #c2c2c2;
  background-color: #c2c2c2;
}

.nav img {
  width: 50px;
}

header .lines {
  margin-top: 10px;
}


footer {
  display: block;
  margin: 20px 0 10px 0;
  font-size: 15px;
}

footer ul {
  width: 99%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

footer ul li:first-child img {
  width: 23px;
}

footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #898989;
  text-align: center;
}

footer .lines {
  margin-top: 30px;
}

.quote p {
  margin-top: 30px;
}

.social-media {
  margin: 10px auto 10px;
  display: block;
}

.social-media li {
  display: inline-block;
  padding: 5px;
  margin: 0 5px 0 0;
}

.social-media li {
  color: #c2c2c2;
}

.social-media img {
  width: 18px;
}


@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

p {
  line-height: 1.5;
  letter-spacing: auto;
}

wrapper {
  display: block;
  margin: 10px;
  overflow: hidden;
}

.thumb {
  position: relative;
  overflow: hidden;
  z-index: 2000;
  margin: 0 0 10px 0;
}

.thumb-info {
  text-align: center;
  padding: 30% 0;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  background-color: rgba(6, 57, 78, 0.5);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  margin-bottom: 0;
}

.thumb:hover .thumb-info {
  opacity: 0.9;
}

@media only screen and (min-width: 33.125em) {/*715 special case*/
  .thumb {
    margin: 0 0 15px 0;
  }
  .thumb:nth-child(odd) {
    margin-right: 15px;
  }
}


.work-text {
  margin: 40px 0 10px 0;
  padding: 0 30px;
  /*div {
		width: 500px;
	}*/
}

.caption {
  font-size: 15px;
  margin: 0 0 15px 0;
  color: #898989;
  font-weight: 400;
  text-align: center;
  border-left: 2px solid #c2c2c2;
  border-right: 2px solid #c2c2c2;
}

.caption a {
  color: #06394e;
  font-weight: 400;
  font-size: 18px;
}

.work-text h2 {
  font-size: 20px;
  color: #06394e;
  margin-bottom: 10px;
}

.work-text h3 {
  font-weight: 300;
  margin-bottom: 15px;
  color: #898989;
}

.work-text p {
  font-size: 15px;
  margin-bottom: 10px;
  color: #898989;
  font-weight: 300;
}

.work-img {
  height: 100%;
  margin-bottom: 15px;
}

.sticky-pag {
  display: none;
}

.video {
  width: 100%;
  margin: 0 auto;
}

.bordered {
  border: 1px solid #e6e7e8;
}

.footer-pag {
  background-color: #e6e7e8;
  margin: 15px 0 10px 0;
  overflow: hidden;
}

.footer-pag p {
  font-weight: 400;
  color: #898989;
}

.footer-pag a {
  overflow: hidden;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.footer-pag img {
  width: 9px;
  float: left;
  margin: 4px 10px;
  display: block;
}

.footer-pag p {
  font-size: 12px;
  float: left;
}

.footer-pag .previous-pag {
  text-align: right;
}

.footer-pag .previous-pag img {
  left: 10px;
}

.footer-pag .previous-pag a {
  float: left;
}

.footer-pag .previous-pag:hover {
  background-color: #06394e;
  transition: all 0.2s ease-in-out;
}

.footer-pag .previous-pag:hover p:hover {
  color: #fff;
}

.footer-pag .next-pag {
  text-align: left;
  overflow: hidden;
}

.footer-pag .next-pag img {
  right: 10px;
}

.footer-pag .next-pag a {
  float: right;
}

.footer-pag .next-pag:hover {
  background-color: #06394e;
  transition: all 0.3s ease-in-out;
}

.footer-pag .next-pag::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

.footer-pag .next-pag[class^="slide"]::after {
  transition: all 0.35s;
}

.footer-pag .next-pag[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

.footer-pag .next-pag.slide-from-left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

.invision {
  background-color: #DE8D4B;
  width: 100%;
  display: none;
}

/* iframe {
  transform: scale(1);
  display: none;
  margin: 0 auto;
} */


@media only screen and (min-width: 17.8125em) { /*285*/
  .footer-pag p {
    font-size: 14px;
    float: left;
  }
}

@media only screen and (min-width: 33.125em) { /*1000*/
  .logo {
    margin-left: 50px;
  }

  .header h2 {
    margin-left: 50px;
    margin-right: 30%;
  }

  .nav nav {
    text-align: right;
    margin-top: 63px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 48em) { /*768*/
  .header h2 {
    margin-left: 50px;
    margin-right: 45%;
  }

  .footer-pag {
    display: none;
  }
  .sticky-pag {
    display: block;
    position: absolute;
    top: 50%;
  }
  .sticky-pag a {
    display: block;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    position: fixed;
    background-color: #c2c2c2;
    padding: 10px 8px;
    width: 105px;
  }
  .sticky-pag a:hover {
    background-color: #06394e;
  }
  .sticky-pag img {
    width: 8px;
    display: inline-block;
    vertical-align: 6px;
    margin: 0 8px;
  }
  .sticky-pag p {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.3px;
    margin: 0 5px;
    font-size: 12px;
  }
  .previous-button {
    transform: translate(-80px, 0);
    text-align: right;
  }
  .previous-button:hover {
    transform: translate(-10px, 0);
  }
  .next-button {
    right: 0;
    transform: translate(70px, 0);
    text-align: left;
  }
  .next-button:hover {
    transform: translate(0, 0);
  }
}

@media only screen and (min-width: 64em) {
  /*1024*/
  .proto-text {
    display: none;
  }
  .invision {
    background-color: #DE8D4B;
    width: 100%;
    display: block;
  }
  /* iframe {
    transform: scale(1);
    display: block;
    margin: 0 auto;
  } */
}
