<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Iman Ghader • Graphic Designer</title>
	<link href="css/style.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Crete+Round:400,400i|Roboto+Mono:400,400i,500,700,700i" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">

<!--Favicon -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body>
	<wrapper>

		<header class="header">

			<div class="grid">
					<div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
						<a href="index.html"><img class="logo img-flex" src="imgs/white-logo.svg" alt="Iman Ghader's Logo"></a>
					</div>

					<div class="nav unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
			          <nav>
			            <ul>
			              <li><a href="index.html">work</a></li>
			              <!-- <li><a href="http://behance.net/imanghader" target="_blank">behance</a></li> -->
			              <li><a href="http://instagram.com/imanghader" target="_blank">instagram</a></li>
			              <li><a href="https://medium.com/@imanghader" target="_blank">medium</a></li>
			            </ul>
			          </nav>
			        </div>

      <h2>Hey there! I'm Iman and I’m a Graphic Designer based in Ottawa, Canada. I have spent the better part of the past 3 years working at <a class="hypertext" target="_blank" href="https://shopify.com">Shopify</a>; creating digital and physical design for the partnerships ecosystem.
        <br>
        <br>
        2018 work coming soon!</h2>
			</div>

		</header>

		{{content}}

		<footer class="footer centered">
			<div class"grid">
				<hr class="lines">

				<div class="unit xs-1 s-1 m-1-2 l-1-2">
					<div class="quote">
						<p>‘Do not go gentle into that good night.<br>
						Rage, rage against the dying of the light.’</p>
					</div>

					<div class="social-media">
		            	<ul>
			                <!-- <li>
			                <a href="http://behance.net/imanghader" target="_blank"><img src="imgs/social/behance.svg" alt="Behance icon"></a>
			                </li> -->

			                <li>
			                <a href="https://twitter.com/ImanGhader" target="_blank"><img src="imgs/social/twitter.svg" alt="Twitter icon"></a>
			                </li>

			                <li>
			                <a href="https://www.linkedin.com/pub/iman-ghader/64/592/348" target="_blank"><img src="imgs/social/linkedin.svg" alt="Linkedin icon"></a>
			                </li>

			                <li>
			                <a href="http://instagram.com/imanghader" target="_blank"><img src="imgs/social/instagram.svg" alt="Instagram icon"></a>
			                </li>

			                <li>
			                <a href="https://vimeo.com/user6773623" target="_blank"><img src="imgs/social/vimeo.svg" alt="Vimeo icon"></a>
			                </li>

			                <!--<li>
			                <a href="#" target="_blank"><img src="imgs/social/tumblr.svg" alt="Tumblr icon"></a>
			                </li>-->
			              </ul>
		          	</div>
		        </div>

	          <div class="copyright unit xs-1 s-1 m-1-2 l-1-2">
	          	<p>hello@imanghader.com</p>
	            <p>© Iman Ghader 2018</p>
	          </div>

	        </div>

        </footer>

	</wrapper>

</body>
</html>
